/* Portrait phones and smaller */
@media screen and(max-width: 480px) {
.header {
	background-color: #F5A284;
	padding: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
}
}

.row.no-gutters {
  margin-right: 0px;
  margin-left: 7px;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #e9e9e9
}

.header {
	background-color: #F5A284;
	padding: 80px;
    margin-top: -10px;
    margin-bottom: 0px;
    
}

.header h1 {
	font-weight: 800;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	padding-right: 5px;
	font-size: 40px;
}

.card {
	margin: 7px;
	border-radius: 0;
	background-color: #fff;
	padding-left: 200px;
	min-height: 170px;
	max-height: 170px;
}

.card h3{
	font-size: 	20px;
	font-weight: 	800;
}

.card p{
	font-size: 	13px;
}

.card p a{
	font-size: 	13px;
}

.card:hover {
	
	border: 4px ease;
	border-color: #fff;
	box-shadow: 2px 2px 8px 2px #aaaaaa;

	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

h1 {
	font-weight: 300;
	font-size: 30px;
	padding-left: 20px;
}

#freecodecamp {
	
	background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_image-d9514f2df0962329-300x300.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#brianamarie {
	
	background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/brianamarie132-profile_image-35c9908a7a958b62-300x300.jpeg");
	background-repeat: no-repeat;
	background-size: contain;
}

.twitch-logo{
	height: 80px;
	-webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}

.caption p a {
	position:absolute;
    bottom:15px;
    right:15px;

	text-decoration: none;
	color: #000;
}

